
// Variables
//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
//@import "~bootstrap/scss/mixins";
@import "../../public/admin/vendor/bootstrap/scss/functions";
@import "../../public/admin/scss/variables";
@import "../../public/admin/scss/mixins";

$theme-colors: (
    //"primary": #47C598,
    //"primary": #1D8348,
    //"primary": #1E8449, atualmente
    //"danger": #ff4174, atualmente
    "primary": #06794f,
    "secondary": #0fa28b,
    "success": #3ac97c,
    "danger": #d73f30,
    "warning": #ebb20c,
    "info": #9d46cd,
    "custom-green": #00cc00,
    "custom-green-dark": #006600,
    "custom-price-success": #045613,
    //"custom-price-success": #0B730D,
    "custom-price-danger": #BA0707,
    "custom-price-warning": #d59007,
    "custom-price-info": #8724be,
    "custom-tr-price-success": #C8F0DA,
    "custom-tr-price-danger": #F4C9C5,
    "custom-thead-price-success": #F0FBF5,
    "custom-thead-price-danger": #FCF0EF,
    //"gray": #3A3A45,
);

@import "../../public/admin/scss/sb-admin-2";
//@import "~bootstrap/scss/bootstrap";

.teste {
    width: 100%;
    min-height: 50vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ebeeef;
}

.login-imagem {
    //background: url("public/admin/img/logo-madeireira.png");
    background-position: center;
    background-size: cover;
}
//
//#wrapper #content-wrapper {
//    background-color: #3A3A45;
//    //background-color: #5A5C69;
//    //background-color: #6E707E;
//    width: 100%;
//    overflow-x: hidden;
//}

.dashboard-card-hover > :hover{
    transform: scale(1.04);
    //cursor: pointer;
    //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    //background-color: #0b7363;
}
